<!-- templates/registro/login.html -->
{% extends 'base.html' %}

{% block content %}
    <h2>Acceso</h2>
    <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="row center">
            <div class="col s6">
                <button class="btn waves-effect blue" type="submit" name="action">Entrar
                    <i class="material-icons right">send</i>
                </button>
            </div>
            <div class="col s6">
                <a href="{% url 'signup' %}" class="waves-effect blue-grey darken-4 btn"><i class="material-icons right">cloud</i>Registrar</a>
            </div>
        </div>
    </form>
{% endblock content %}