<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <style>
        body {
            display: flex;
            min-height: 100vh;
            flex-direction: column;
        }

        main {
            flex: 1 0 auto;
        }
    </style>  

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('select');
            var instances = M.FormSelect.init(elems, {});

            var elems = document.querySelectorAll('.sidenav');
            var instances = M.Sidenav.init(elems, {});
        });    
    </script>
</head>
<body>
    <header>
        <div class="navbar-fixed">
            <nav>
                <div class="nav-wrapper black">
                    <a href="{% url 'home' %}" class="brand-logo left"><strong class="truncate">Lista de Tareas por hacer</strong> </a>
                    <ul class="right">
                        {% if user.is_authenticated %}
                            <li><a href="{% url 'new_task' %}"><i class="material-icons right">add</i>Nueva Tarea</a></li>
                            <li><a href="{% url 'logout' %}"><i class="material-icons right">exit_to_app</i>Cerrar Sesion</a></li>
                        {% else %}
                            <li><a href="{% url 'login' %}"><i class="material-icons right">person</i>Iniciar Sesion</a></li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <main>
        <div class="container">
            {% if user.is_authenticated %}
                <div class=" collection center-align">
                    <a class="collection-item active purple darken-4">Bienvenido! {{ user.username }}</a>
                </div>
            {% endif %}

            {% block content %} 
            {% endblock content %}
        </div>
    </main>
    <footer>
        <div class="footer-copyright black">
            <div class="container white-text">
                © 2021 Hector Hernandez
            </div>
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>