{% extends 'base.html' %}

{% block content %}
    <form class="center-align" action="" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col s12 m12">
              <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                  <span class="card-title">¿Desea Realmente eliminar la tarea?</span>
                  <p>La Tarea no de podrá recuperar después</p>
                </div>
                <div class="card-action">
                    <div class="row center">
                      <div class="col s6">
                        <button class="btn waves-effect red hoverable" type="submit" name="action">Eliminar Tarea
                          <i class="material-icons right">error</i>
                        </button>
                      </div>
                      <div class="col s6">
                          <a href="{% url 'home' %}" class="waves-effect blue-grey darken-4 btn"><i class="material-icons right">arrow_back</i>Regresar</a>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </form>
{% endblock content %}