{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}
<table class="centered responsive-table striped">
  <thead>
    <tr>
      <th>Autor</th>
      <th>Tarea</th>
      {% if user.username == "hector" %}
      <th>Acciones</th>
      {% endif %}
    </tr>
  </thead>

  <tbody>
    {% if not object_list %}
    <div class=" collection center-align">
      <a class="collection-item active blue darken-4">No Hay Tareas disponibles para ti :3</a>
    </div>
    {% else %}
    {% for task in object_list %}
    <tr>
      <td>{{ task.author }}</td>
      <td>{{ task.title }}</td>
      <td>{{ task.body }}</td>
      {% if user.username == "hector" %}
      <td>
        <a href="{% url 'edit_task' task.pk %}"><i class="material-icons center">edit</i></a>
        <a href="{% url 'delete_task' task.pk %}"><i class="material-icons center">delete</i></a>
      </td>
      {% endif %}
    </tr>
    {% endfor %}
    {% endif %}
  </tbody>
</table>
{% else %}
<div class=" collection center-align">
  <a class="collection-item active red darken-4">Es Necesario Iniciar Sesión Para Ver Las Tareas Pendientes</a>
</div>
{% endif %}
{% endblock content %}