{% extends 'base.html' %}

{% block content %}
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn waves-effect green" type="submit" name="action">Registrar
            <i class="material-icons right">send</i>
        </button>
    </form>
{% endblock content %}